/*Images*/
.game-image__game-card {
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 20px;
}

.user-avatar__game-card {
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
}

/*Panel*/
.panel-default > .panel-heading {
  color: #f8f8ff;
  background-image: linear-gradient(to bottom, #002060 0%, #002060 100%);
  font-size: 16px;
}

.panel-header {
  color: #f8f8ff;
  background-color: #002060;
}

.panel-header h3 {
  margin: 0;
  font-size: 16px
}

.panel-header > .panel-body {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .panel-header {
    font-size: 20px;
    margin-left: -15px;
  }
}