.props-children {
  padding-top: 120px;
  background: #f8f8ff;
  min-height: 100vh;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.props-children h6 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.enter {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

.enter img {

  height: 50px;
  margin-right: 100%;
}

.panel-default {
  border: none;
  color: #002060;
  border-radius: 5px;
  background-color: #f8f8ff;
  box-shadow: 0 3px 10px #ccc;
}

