.glyph {
  color: #f8f8ff;
}

.row-search__game-list {
  display: flex;
  justify-content: space-between;
}

.col-search__game-list {
  display: flex;
  justify-content: space-between;
}

/*Images*/
.game-image__wrapper {
  text-align: -webkit-center;
}

.game-image__game-list {
  max-width: 50px;
  max-height: 50px;
}

/*Panel*/
.panel-default {
  border: none;
  color: #002060;
  border-radius: 5px;
  background-color: #f8f8ff;
  box-shadow: 0 3px 10px #ccc;
}

.panel-default > .panel-heading {
  color: #f8f8ff;
  background-image: linear-gradient(to bottom, #002060 0%, #002060 100%);
}

.panel-body__game-list {
  display: flex;
  flex-direction: column;
  }