.col-search__game-list {
  display: flex;
  justify-content: space-between;
}

/*Input search*/
.input-group {
  margin-top: 18px;
}

.input-group-addon {
  background-color: #0080e0;
  border-radius: 5px;
  border: #002060;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, .2), inset 0 -10px 20px rgba(0, 0, 0, .2);
}

.form-control {
  border: 1px solid #0080e0;
  border-radius: 5px;
  color: #002060;
  background-color: #f8f8ff;
}

.form-control:focus {
  border-color: #0080e0;
  outline: none;
  box-shadow: 0 3px 10px #ccc
}

/*Input range*/
.input-range {
  margin-top: 30px;
  margin-left: 5px;
}

.input-range__label {
  color: #002060;
  bottom: 0;
  font-size: 10px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;;
}

.input-range__label--value {
  position: absolute;
  z-index: 3;
  color: #f8f8ff;
  font-size: 14px;
  top: -27px;
  left: 13px
}

.input-range__label--min {
  display: none;
  left: -20px;
  bottom: 0;
}

.input-range__label--max {
  display: none;
  right: -50px;
  bottom: 0;
}

.input-range__track {
  border: 1px solid #f8f8ff;
  background-color: #f8f8ff;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, .2), inset 0 -10px 20px rgba(0, 0, 0, .2);
  height: 34px;
  border-radius: 5px;
}

.input-range__track--background {
  margin-top: -18px;
}

.input-range__track--active {
  background: #0080e0;
}

.input-range__slider {
  background-color: #0080e0;
  border-radius: 5px;
  border: #002060;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, .2), inset 0 -10px 20px rgba(0, 0, 0, .2);
  height: 34px;
  width: 37px;
  margin-top: -34px;
}

/*Table*/
.table__game-list {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 30px;
}

.table-head__game-list {
  color: #f8f8ff;
  background-color: #002060;
  border: 2px;
  border-color: #002060;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
}

.table-th__game-list {
  text-align: center;
}

.table > thead > tr > th {
  vertical-align: middle;
  border: 2px;
  border-color: #002060;
  font-size: 12px
}

.table-tr__game-list {
  text-align: center;
  vertical-align: middle;
}

.table-td__game-list {
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border: none;
}

.table-hover > tbody > tr:hover {
  background-color: #0080e0;
}

/*Images*/
.game-image__game-list {
  max-width: 50px;
  max-height: 50px;
}

/*Panel*/

.panel-default > .panel-heading {
  font-size: 24px;
  color: #f8f8ff;
  background-image: linear-gradient(to bottom, #002060 0%, #002060 100%);
}

@media screen and (max-width: 320px) {
  .table__game-list-empty  {
    display: none;
  }
}